<h1>Student Form</h1>


<form action="<%=students_path%>" method="post">
<label>First Name:</label><br>
<input type="text" id="first_name" name="student[first_name]"><br>

<label>Last Name:</label><br>
<input type="text" id="last_name" name="student[last_name]"><br>


<%=hidden_field_tag :authenticity_token, form_authenticity_token %>
<button type="button">Submit Student</button>

</form>
